<% provide(:title, 'Help') %>

<div class="help-nav">
  <nav id="navbar-help" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Help Menu</a>
    <ul class="nav nav-pills">
      <li class = "nav-item dropdown">
        <a class = "nav-link dropdown-toggle" href = "#"
           id = "navbardrop" data-toggle = "dropdown">Section 1 </a>
        <div class = "dropdown-menu">
          <a class = "dropdown-item item-hidden" href = "#item-1">Section 1</a>
          <a class = "dropdown-item" href = "#item-1-1">Item 1-1</a>
          <a class = "dropdown-item" href = "#item-1-2">Item 1-2</a>
        </div>
      </li>
      <li class = "nav-item">
        <a class="nav-link" href="#item-2">Item 2</a>
      </li>
      <li class = "nav-item dropdown">
        <a class = "nav-link dropdown-toggle" href = "#"
           id = "navbardrop" data-toggle = "dropdown">Section 3 </a>
        <div class = "dropdown-menu">
          <a class = "dropdown-item item-hidden" href = "#item-3">Section 3</a>
          <a class = "dropdown-item" href = "#item-3-1">Item 3-1</a>
          <a class = "dropdown-item" href = "#item-3-2">Item 3-2</a>
        </div>
      </li>
      <li class = "nav-item dropdown">
        <a class = "nav-link dropdown-toggle" href = "#"
           id = "navbardrop" data-toggle = "dropdown">Section4 </a>
        <div class = "dropdown-menu">
          <a class = "dropdown-item item-hidden" href = "#item-4">Section 4</a>
          <a class = "dropdown-item" href = "#item-4-1">Item 4-1</a>
          <a class = "dropdown-item" href = "#item-4-2">Link 4-2</a>
        </div>
      </li>
    </ul>
  </nav>
  <div data-spy="scroll" data-target="#navbar-help" data-offset="15" class="scrollspy-help-nav">
    <section id="item-1" class="help-item">
      <h4>Item 1</h4>
      <p>Placeholder content for the scrollspy example. This one relates to item 1. Takes you miles high, so high, 'cause she’s got that one international smile. There's a stranger in my bed, there's a pounding in my head. Oh, no. In another life I would make you stay. ‘Cause I, I’m capable of anything. Suiting up for my crowning battle. Used to steal your parents' liquor and climb to the roof. Tone, tan fit and ready, turn it up cause its gettin' heavy. Her love is like a drug. I guess that I forgot I had a choice.</p>
      <div id="item-1-1" class="help-sub-item">
        <h5>Item 1-1</h5>
        <p>Placeholder content for the scrollspy example. This one relates to the item 1-1. You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.</p>
      </div>
      <div id="item-1-2" class="help-sub-item">
        <h5>Item 1-2</h5>
        <p>Placeholder content for the scrollspy example. This one relates to the item 1-2. Her love is like a drug. All my girls vintage Chanel baby. Got a motel and built a fort out of sheets. 'Cause she's the muse and the artist. (This is how we do) So you wanna play with magic. So just be sure before you give it all to me. I'm walking, I'm walking on air (tonight). Skip the talk, heard it all, time to walk the walk. Catch her if you can. Stinging like a bee I earned my stripes.</p>
      </div>
    </section>
    <section id="item-2" class="help-item">
        <h4>Item 2</h4>
        <p>Placeholder content for the scrollspy example. This one relates to item 2. Don't need apologies. There is no fear now, let go and just be free, I will love you unconditionally. Last Friday night. Don't be a shy kinda guy I'll bet it's beautiful. Summer after high school when we first met. 'Cause she's the muse and the artist. What? Wait. No, no, no, no. Thought that I was the exception.</p>
    </section>
    <section id="item-3" class="help-item">
      <h4>Item 3</h4>
      <p>Placeholder content for the scrollspy example. This one relates to item 3. Word on the street, you got somethin' to show me, me. All this money can't buy me a time machine. Make it like your birthday everyday. So we hit the boulevard. You make me feel like I'm livin' a teenage dream, the way you turn me on Skip the talk, heard it all, time to walk the walk. Word on the street, you got somethin' to show me, me. It's no big deal, it's no big deal, it's no big deal.</p>
      <div id="item-3-1" class="help-sub-item">
        <h5>Item 3-1</h5>
        <p>Placeholder content for the scrollspy example. This one relates to item 3-1. Baby do you dare to do this? This is no big deal. Yeah, you're lucky if you're on her plane. Just own the night like the 4th of July! Standing on the frontline when the bombs start to fall. So just be sure before you give it all to me.</p>
      </div>
      <div id="item-3-2" class="help-sub-item">
        <h5>Item 3-2</h5>
        <p>Placeholder content for the scrollspy example. This one relates to item 3-2. You're original, cannot be replaced. All night they're playing, your song. California girls we're undeniable. Like a bird without a cage. There is no fear now, let go and just be free, I will love you unconditionally. I can see the writing on the wall. You could travel the world but nothing comes close to the golden coast.</p>
      </div>
    </section>
    <section id="item-4" class="help-item">
      <h4>Item 4</h4>
      <p>Placeholder content for the scrollspy example. This one relates to item 3. Word on the street, you got somethin' to show me, me. All this money can't buy me a time machine. Make it like your birthday everyday. So we hit the boulevard. You make me feel like I'm livin' a teenage dream, the way you turn me on Skip the talk, heard it all, time to walk the walk. Word on the street, you got somethin' to show me, me. It's no big deal, it's no big deal, it's no big deal.</p>
      <div id="item-4-1" class="help-sub-item">
        <h5>Item 4-1</h5>
        <p>Placeholder content for the scrollspy example. This one relates to item 3-1. Baby do you dare to do this? This is no big deal. Yeah, you're lucky if you're on her plane. Just own the night like the 4th of July! Standing on the frontline when the bombs start to fall. So just be sure before you give it all to me.</p>
      </div>
      <div id="item-4-2" class="help-sub-item">
        <h5>Item 4-2</h5>
        <p class="help-last-item">Placeholder content for the scrollspy example. This one relates to item 3-2. You're original, cannot be replaced. All night they're playing, your song. California girls we're undeniable. Like a bird without a cage. There is no fear now, let go and just be free, I will love you unconditionally. I can see the writing on the wall. You could travel the world but nothing comes close to the golden coast.</p>
      </div>
    </section>
  </div>
</div>
