<% provide(:title, 'Help') %>

<div class="container pageContent">
  <h1 class="pageHeader">Help</h1>
  <div class="col-sm-8">
    <p>This page is currently under construction. Sorry for the inconvenience.</p>
  </div>
</div>
