<% provide(:title, "Update Password") %>

<div class="container">
  <h1 class="pageHeader">Reset Password</h1>
  <div class="col-sm-8">
    <%= simple_form_for @user, :url => password_reset_path(params[:id]),
             html: { class: 'form-horizontal' },
             wrapper: :horizontal_form,
             wrapper_mappings: {
              check_boxes: :horizontal_collection,
              radio_buttons: :horizontal_collection,
              file: :horizontal_file,
              boolean: :horizontal_boolean
      } do |f| %>
          <%= render 'fields', :f => f %>
          <%= f.button :submit, 'Update Password', class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>
