selenium==4.9
bs4==0.0.1
# Only uncomment these if you need to use either the undetected-chromedriver or
# webdriver-manager.  Currently it is using chrome-for-testing which keeps the
# Chromdriver in sync with Chrome installation.  The others don't gurantee that 
# is the case.
#webdriver-manager==4.0.2
#undetected-chromedriver==3.5.3
