/* Import the rest of our custom scss files */
/* line 2, app/assets/stylesheets/forms.scss */
.form-check-label {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* line 5, app/assets/stylesheets/forms.scss */
.form-check-label span {
  margin-left: 10px;
  font-weight: normal;
}

/* line 11, app/assets/stylesheets/forms.scss */
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* This is the styling for the nav-pills nav-top example */
/* line 3, app/assets/stylesheets/help-page.scss */
.help-nav {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0px;
  border-style: solid;
  border-color: #f8f9fa;
  -o-border-image: initial;
     border-image: initial;
  border-width: 0.2rem 0px 0px;
}

/* line 13, app/assets/stylesheets/help-page.scss */
.scrollspy-help-nav {
  position: relative;
  height: 600px;
  overflow: auto;
}

/* line 19, app/assets/stylesheets/help-page.scss */
.item-hidden {
  visibility: hidden;
  display: none;
}

/* Pad the last item to ensure that the second to last item is targeted, even it is small */
/* line 25, app/assets/stylesheets/help-page.scss */
.help-last-item {
  padding-bottom: 70px;
}

/*****************
 * Header styles *
/*****************/
/* line 4, app/assets/stylesheets/header.scss */
.header-brand {
  font-size: inherit;
}

/*
 * Make the header links a darker black and bold on hover
.header-links li {
  a {
    color: #1a1a1a !important;
    &:hover {
      color: #0d0d0d !important;
      font-weight: bold !important;
    }
  }
}
*/
/*
 * Make the active header link bold
 */
/* line 24, app/assets/stylesheets/header.scss */
.header-links .header-link-nav-item > .header-nav-link.active {
  color: #0d0d0d !important;
  font-weight: bold !important;
}

/* line 1, app/assets/stylesheets/weeks.scss */
.weekMgmtGroup {
  margin: 15px 0 15px 0;
  padding: 0 0 15px 5px;
  border: 1px;
  background-color: #fff;
}

/* line 7, app/assets/stylesheets/weeks.scss */
.weekMgmtGroupSeason {
  margin-right: 10px;
}

/* line 11, app/assets/stylesheets/weeks.scss */
.adminWeekMgmt {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 16, app/assets/stylesheets/weeks.scss */
.weekAdminItem {
  margin-right: 8px;
}

/* line 20, app/assets/stylesheets/weeks.scss */
.weekButton {
  padding-right: 10px;
}

/* line 24, app/assets/stylesheets/weeks.scss */
.gameRow {
  background-color: #fff;
  margin: 5px 0 5px 0;
  line-height: 1;
  align-items: center;
}

/* line 31, app/assets/stylesheets/weeks.scss */
.awayTeamWon {
  text-align: right;
  font-size: 14px;
}

/* line 36, app/assets/stylesheets/weeks.scss */
.awayScoreWon {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

/* line 42, app/assets/stylesheets/weeks.scss */
.awayTeamLost {
  text-align: right;
  font-size: 14px;
}

/* line 47, app/assets/stylesheets/weeks.scss */
.awayScoreLost {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

/* line 53, app/assets/stylesheets/weeks.scss */
.homeTeamWon {
  text-align: left;
  font-size: 14px;
}

/* line 58, app/assets/stylesheets/weeks.scss */
.homeScoreWon {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

/* line 64, app/assets/stylesheets/weeks.scss */
.homeTeamLost {
  text-align: left;
  font-size: 14px;
}

/* line 69, app/assets/stylesheets/weeks.scss */
.homeScoreLost {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

/* line 75, app/assets/stylesheets/weeks.scss */
.gameDescriptor {
  /*  font-size: 14px; */
  text-align: center;
  padding: 0;
  /*  margin-right: 8px; */
}

/* line 82, app/assets/stylesheets/weeks.scss */
.gameDate {
  /*  width: "20%";
  text-align: center; */
  font-size: 2px;
}

/* line 88, app/assets/stylesheets/weeks.scss */
.gameDate {
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* line 95, app/assets/stylesheets/weeks.scss */
.gameTime {
  text-align: left;
}

/* Game time/timezone/network styles */
/* line 100, app/assets/stylesheets/weeks.scss */
.time-info {
  font-size: 12px;
  font-weight: 700;
}

/* line 105, app/assets/stylesheets/weeks.scss */
.timezone-info {
  font-size: 10px;
  color: #757575;
}

/* line 110, app/assets/stylesheets/weeks.scss */
.network-info {
  font-size: 12px;
  color: #757575;
}

/* Settings for phones */
@media (max-width: 575.98px) {
  /* line 116, app/assets/stylesheets/weeks.scss */
  .team-name {
    display: none;
  }
  /* line 119, app/assets/stylesheets/weeks.scss */
  .network-info {
    display: none;
  }
}

/* line 5, app/assets/stylesheets/pools.scss */
.user-myPools-header {
  margin: 20px 0 15px 0;
}

/* line 9, app/assets/stylesheets/pools.scss */
.user-pool-header {
  margin: 5px 0 5px 0;
}

/* line 13, app/assets/stylesheets/pools.scss */
.poolPageDataHeader {
  font-weight: 900;
  line-height: 1.5;
  width: 8.5rem;
}

/* line 19, app/assets/stylesheets/pools.scss */
.poolPageData {
  line-height: 1.5;
  font-weight: 500;
}

/* line 24, app/assets/stylesheets/pools.scss */
.poolPageBoard {
  margin-top: 15px;
}

/* line 28, app/assets/stylesheets/pools.scss */
.poolBoardHeader {
  margin-top: 15px;
}

/* line 32, app/assets/stylesheets/pools.scss */
.poolList {
  overflow: auto;
  width: 100%;
  margin: 0;
}

/* line 38, app/assets/stylesheets/pools.scss */
.seasonButton {
  margin-bottom: 15px;
}

/* line 42, app/assets/stylesheets/pools.scss */
.entry-header {
  width: 150px;
  font-weight: bold;
}

/* line 47, app/assets/stylesheets/pools.scss */
.entry-blank {
  width: 150px;
}

/* line 51, app/assets/stylesheets/pools.scss */
.entry-name {
  color: black;
  width: 250px;
}

/* line 56, app/assets/stylesheets/pools.scss */
.entry-name-out {
  color: red;
  width: 250px;
}

/* line 61, app/assets/stylesheets/pools.scss */
.entry-out {
  width: 150px;
}

/* line 65, app/assets/stylesheets/pools.scss */
.entry-base {
  width: 150px;
}

/* line 69, app/assets/stylesheets/pools.scss */
.entry-success {
  color: green;
  width: 150px;
}

/* line 74, app/assets/stylesheets/pools.scss */
.entry-error {
  color: red;
  width: 150px;
}

/* line 79, app/assets/stylesheets/pools.scss */
.current-week {
  color: #013ADF;
}

/* line 83, app/assets/stylesheets/pools.scss */
ul#pool-members {
  list-style-type: none;
}

/* line 88, app/assets/stylesheets/pools.scss */
.games-table td {
  align: center;
}

/* line 93, app/assets/stylesheets/pools.scss */
.survivor-board-table {
  overflow: auto;
  /* max-height:400px; !!! uncomment this to add vertical scroll bar */
  width: 100%;
  margin: 0;
}

/* line 2, app/assets/stylesheets/picks.scss */
.gamePick {
  margin-right: 8px;
}

/* line 6, app/assets/stylesheets/picks.scss */
.gamePickBtn {
  margin-left: 5px;
}

/* line 10, app/assets/stylesheets/picks.scss */
.picks-games {
  margin-top: 20px;
}

/* line 12, app/assets/stylesheets/picks.scss */
.picks-games h2 {
  margin-bottom: 10px;
}

/* line 17, app/assets/stylesheets/picks.scss */
.picks-games-list {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

@media (min-width: 576px) {
  /* line 24, app/assets/stylesheets/picks.scss */
  .picks-games-list {
    max-height: 450px;
  }
}

@media (min-width: 576px) {
  /* line 2, app/assets/stylesheets/dropdowns.scss */
  .dropdown-menu .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  /* line 9, app/assets/stylesheets/dropdowns.scss */
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 13, app/assets/stylesheets/dropdowns.scss */
  .dropdown-menu li {
    position: relative;
  }
  /* line 16, app/assets/stylesheets/dropdowns.scss */
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  /* Drop down menus to the left  on tablets or bigger */
  /*
  @media (min-width: 768px) {
    .nav-item .submenu-left {
      right:100%; left:auto;
    }
  }
  */
  /*  @media (max-width: 767.98px) { */
  /* line 32, app/assets/stylesheets/dropdowns.scss */
  .nav-item .submenu-left {
    right: 0px;
    left: 0px;
    /*top: -10px;*/
    background-color: #d9d9d9;
  }
  /* } */
  /* line 40, app/assets/stylesheets/dropdowns.scss */
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  /* line 41, app/assets/stylesheets/dropdowns.scss */
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/* Weeks mgmt Nav Styling */
/* line 47, app/assets/stylesheets/dropdowns.scss */
.mgmtWeeksDropdown {
  display: static;
  max-height: 100px;
  overflow-y: auto;
}

@media (min-width: 576px) {
  /* line 53, app/assets/stylesheets/dropdowns.scss */
  .mgmtWeeksDropdown {
    max-height: 400px;
  }
}

@media (max-width: 575.98px) {
  /* line 58, app/assets/stylesheets/dropdowns.scss */
  .mgmtWeeksDropdown {
    max-height: 250px;
  }
}

/* Font Awesome */
@font-face {
  font-family: 'FontAwesome';
  src: url(/assets/fontawesome-webfont-82ff0fe46a6f60e0ab3c4a9891a0ae0a1f7b7e84c625f55358379177a2dcb202.eot);
  src: url(/assets/fontawesome-webfont-82ff0fe46a6f60e0ab3c4a9891a0ae0a1f7b7e84c625f55358379177a2dcb202.eot?#iefix) format("embedded-opentype"), url(/assets/fontawesome-webfont-c9a0a23a23a3f6f7165cba218b40483a0b1750d92b49c40842f1d8f566f5f421.woff) format("woff"), url(/assets/fontawesome-webfont-2794b002e3568f5abce8991e2431ca79e0ce84a08ea1268884b4e097b62762a6.ttf) format("truetype"), url(/assets/fontawesome-webfont-67c6c8e9ffb0fcd7c7c64eaff12a298abf5b54a54b54f0e6c4c49161dba62d6d.svg#fontawesomeregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 30, app/assets/stylesheets/custom.scss */
html {
  overflow-y: scroll;
}

/* line 34, app/assets/stylesheets/custom.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 42, app/assets/stylesheets/custom.scss */
body {
  padding-top: 60px;
  background-color: #eee;
}

/* line 47, app/assets/stylesheets/custom.scss */
section {
  overflow: auto;
}

/* line 51, app/assets/stylesheets/custom.scss */
textarea {
  resize: vertical;
}

/* line 55, app/assets/stylesheets/custom.scss */
.center {
  text-align: center;
}

/* line 57, app/assets/stylesheets/custom.scss */
.center h1 {
  margin-bottom: 10px;
}

/* Make all links black and darker and bold when hover */
/* line 63, app/assets/stylesheets/custom.scss */
a {
  color: #1a1a1a;
}

/* line 65, app/assets/stylesheets/custom.scss */
a:hover {
  text-decoration: none;
  /* color: #0d0d0d; */
  color: #666666;
  font-weight: bold;
}

/* typography */
/* line 75, app/assets/stylesheets/custom.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 79, app/assets/stylesheets/custom.scss */
.pageContent {
  background-color: white;
  padding-bottom: 20px;
}

/* line 84, app/assets/stylesheets/custom.scss */
.pageHeader {
  margin: 20px 0 20px 20px;
  padding: 10px 5px 10px 5px;
}

/* line 89, app/assets/stylesheets/custom.scss */
.userEmail {
  margin: -35px 0 35px 90px;
}

/* line 93, app/assets/stylesheets/custom.scss */
.main-sign-in {
  text-align: center;
  color: blue;
}

/* line 98, app/assets/stylesheets/custom.scss */
.home-main-text {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #f2f2f2;
}

/* line 107, app/assets/stylesheets/custom.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* line 112, app/assets/stylesheets/custom.scss */
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

/* Remove simple form checks and exes on validations */
/* line 120, app/assets/stylesheets/custom.scss */
.was-validated .custom-select:valid {
  background-image: none;
}

/* line 125, app/assets/stylesheets/custom.scss */
.was-validated .custom-select:invalid {
  background-image: none;
}

/* Global site styling */
/* line 130, app/assets/stylesheets/custom.scss */
.appStateBtn {
  margin: 5px 2.5px 5px 2.5px;
}

/* footer */
/* line 136, app/assets/stylesheets/custom.scss */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #b3b3b3;
}

/* line 141, app/assets/stylesheets/custom.scss */
footer a {
  color: #b3b3b3;
}

/* line 143, app/assets/stylesheets/custom.scss */
footer a:hover {
  color: #737373;
}

/* line 147, app/assets/stylesheets/custom.scss */
footer small {
  float: left;
}

/* line 150, app/assets/stylesheets/custom.scss */
footer ul {
  float: right;
  list-style: none;
}

/* line 153, app/assets/stylesheets/custom.scss */
footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */
/* line 161, app/assets/stylesheets/custom.scss */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
}
