/* Styling for the header multi-level dropdowns */
/* line 2, app/assets/stylesheets/dropdowns.scss */
.dropdown-menu {
  margin-top: 0;
}

/* line 5, app/assets/stylesheets/dropdowns.scss */
.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

/* line 11, app/assets/stylesheets/dropdowns.scss */
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0 20px;
  border-width: 0;
}

/* line 17, app/assets/stylesheets/dropdowns.scss */
.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}

/* line 22, app/assets/stylesheets/dropdowns.scss */
.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
  background: #007bff;
  color: white;
}

/* line 27, app/assets/stylesheets/dropdowns.scss */
.dropdown-menu > li.show > a {
  color: white;
}

@media (min-width: 768px) {
  /* line 32, app/assets/stylesheets/dropdowns.scss */
  .dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
  }
}

/* Styling for Weeks mgmt dropdown/scroll bar*/
/* line 39, app/assets/stylesheets/dropdowns.scss */
.mgmtWeeksDropdown {
  display: static;
  max-height: 100px;
  overflow-y: auto;
}

@media (min-width: 576px) {
  /* line 45, app/assets/stylesheets/dropdowns.scss */
  .mgmtWeeksDropdown {
    max-height: 400px;
  }
}

@media (max-width: 575.98px) {
  /* line 50, app/assets/stylesheets/dropdowns.scss */
  .mgmtWeeksDropdown {
    max-height: 250px;
  }
}
