/* This is the styling for the nav-pills nav-top example */
/* line 3, app/assets/stylesheets/help-page.scss */
.help-nav {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0px;
  border-style: solid;
  border-color: #f8f9fa;
  -o-border-image: initial;
     border-image: initial;
  border-width: 0.2rem 0px 0px;
}

/* line 13, app/assets/stylesheets/help-page.scss */
.scrollspy-help-nav {
  position: relative;
  height: 600px;
  overflow: auto;
}

/* line 19, app/assets/stylesheets/help-page.scss */
.item-hidden {
  visibility: hidden;
  display: none;
}

/* Pad the last item to ensure that the second to last item is targeted, even it is small */
/* line 25, app/assets/stylesheets/help-page.scss */
.help-last-item {
  padding-bottom: 70px;
}
