/* line 5, app/assets/stylesheets/pools.scss */
.entry-header {
  width: 150px;
  font-weight: bold;
}

/* line 10, app/assets/stylesheets/pools.scss */
.entry-blank {
  width: 150px;
}

/* line 14, app/assets/stylesheets/pools.scss */
.entry-name {
  color: black;
  width: 250px;
}

/* line 19, app/assets/stylesheets/pools.scss */
.entry-name-out {
  color: red;
  width: 250px;
}

/* line 24, app/assets/stylesheets/pools.scss */
.entry-out {
  width: 150px;
}

/* line 28, app/assets/stylesheets/pools.scss */
.entry-base {
  width: 150px;
}

/* line 32, app/assets/stylesheets/pools.scss */
.entry-success {
  color: green;
  width: 150px;
}

/* line 37, app/assets/stylesheets/pools.scss */
.entry-error {
  color: red;
  width: 150px;
}

/* line 42, app/assets/stylesheets/pools.scss */
.current-week {
  color: #013ADF;
}

/* line 46, app/assets/stylesheets/pools.scss */
ul#pool-members {
  list-style-type: none;
}

/* line 51, app/assets/stylesheets/pools.scss */
.games-table td {
  align: center;
}

/* line 56, app/assets/stylesheets/pools.scss */
.survivor-board-table {
  overflow: auto;
  /* max-height:400px; !!! uncomment this to add vertical scroll bar */
  width: 100%;
  margin: 0;
}
