/* line 1, app/assets/stylesheets/weeks.scss */
.weekMgmtGroup {
  margin: 15px 0 15px 0;
  padding: 0 0 15px 5px;
  border: 1px;
  background-color: #fff;
}

/* line 8, app/assets/stylesheets/weeks.scss */
.adminWeekMgmt {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 13, app/assets/stylesheets/weeks.scss */
.weekAdminItem {
  margin-right: 8px;
}

/* line 17, app/assets/stylesheets/weeks.scss */
.weekButton {
  padding-right: 10px;
}

/* line 21, app/assets/stylesheets/weeks.scss */
.gameRow {
  background-color: #fff;
  margin: 5px 0 5px 0;
  line-height: 1;
  align-items: center;
}

/* line 28, app/assets/stylesheets/weeks.scss */
.awayTeamWon {
  text-align: right;
  font-size: 14px;
}

/* line 33, app/assets/stylesheets/weeks.scss */
.awayScoreWon {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

/* line 39, app/assets/stylesheets/weeks.scss */
.awayTeamLost {
  text-align: right;
  font-size: 14px;
}

/* line 44, app/assets/stylesheets/weeks.scss */
.awayScoreLost {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

/* line 50, app/assets/stylesheets/weeks.scss */
.homeTeamWon {
  text-align: left;
  font-size: 14px;
}

/* line 55, app/assets/stylesheets/weeks.scss */
.homeScoreWon {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

/* line 61, app/assets/stylesheets/weeks.scss */
.homeTeamLost {
  text-align: left;
  font-size: 14px;
}

/* line 66, app/assets/stylesheets/weeks.scss */
.homeScoreLost {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

/* line 72, app/assets/stylesheets/weeks.scss */
.gameDescriptor {
  /*  font-size: 14px; */
  text-align: center;
  padding: 0;
  /*  margin-right: 8px; */
}

/* line 79, app/assets/stylesheets/weeks.scss */
.gameDate {
  /*  width: "20%";
  text-align: center; */
  font-size: 2px;
}

/* line 85, app/assets/stylesheets/weeks.scss */
.gameDate {
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* line 92, app/assets/stylesheets/weeks.scss */
.gameTime {
  text-align: left;
}

/* Game time/timezone/network styles */
/* line 97, app/assets/stylesheets/weeks.scss */
.time-info {
  font-size: 12px;
  font-weight: 700;
}

/* line 102, app/assets/stylesheets/weeks.scss */
.timezone-info {
  font-size: 10px;
  color: #757575;
}

/* line 107, app/assets/stylesheets/weeks.scss */
.network-info {
  font-size: 12px;
  color: #757575;
}

/* Settings for phones */
@media (max-width: 575.98px) {
  /* line 113, app/assets/stylesheets/weeks.scss */
  .team-name {
    display: none;
  }
  /* line 116, app/assets/stylesheets/weeks.scss */
  .network-info {
    display: none;
  }
}
