

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Seasons", seasons_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Teams", teams_path, class: "nav-link" %>
  </li>
</ul>
