/* Styling for nested header dropdowns controlled by Stimulus. */
.dropdown-menu .dropdown-submenu {
  position: relative;
}

.dropdown-menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: 0;
}

.dropdown-menu .dropdown-submenu > .dropdown-menu.show {
  display: block;
}

.dropdown-menu .dropdown-submenu > .dropdown-menu.left {
  right: 100%;
  left: auto;
}

@media (max-width: 767.98px) {
  .dropdown-menu .dropdown-submenu > .dropdown-menu {
    position: static;
    margin: 0;
  }

  .dropdown-menu .dropdown-submenu > .dropdown-menu.left {
    right: auto;
  }
}

/* Styling for Weeks mgmt dropdown/scroll bar */
.mgmtWeeksDropdown {
  display: static;
  max-height: 100px;
  overflow-y: auto;
}

@media (min-width: 576px) {
  .mgmtWeeksDropdown {
    max-height: 400px;
  }
}

@media (max-width: 575.98px) {
  .mgmtWeeksDropdown {
    max-height: 250px;
  }
}
