/*****************
 * Header styles *
/*****************/
.header-brand {
  font-size: inherit;
}

#main_navbar {
  width: 100%;
}

/*
 * Make the active header link bold
 */
.header-links .header-link-nav-item > .header-nav-link.active  {
    color: #0d0d0d !important;
    font-weight: bold !important;
}
