
/* This is the styling for the nav-pills nav-top example */
.help-nav {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0px;
    border-style: solid;
    border-color: rgb(248, 249, 250);
    border-image: initial;
    border-width: 0.2rem 0px 0px;
}

.scrollspy-help-nav {
    position: relative;
    height: 350px;
    overflow: auto;
}

.item-hidden {
  visibility: hidden;
  display: none;
}

/* Pad the last item to ensure that the second to last item is targeted, even it is small */
.help-last-item {
  padding-bottom:70px;
}
