
.gamePick {
  margin-right: 8px;
}

.gamePickBtn {
  margin-left: 5px;
}

.picks-games {
  margin-top: 20px;
  h2 {
    margin-bottom: 10px;
  }
}

.picks-games-list {
  max-height: 200px;
  overflow-y: scroll;
}

@media (min-width: 576px) {
  .picks-games-list {
    max-height: 450px;
  }
}
