.weekMgmtGroup {
  margin: 15px 0 15px 0;
  padding: 0 0 15px 5px;
  border: 1px;
  background-color: #fff;
}
.weekMgmtGroupSeason {
  margin-right: 10px;
}

.adminWeekMgmt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weekAdminItem {
  margin-right: 8px;
}

.weekButton {
  padding-right: 10px;
}

.gameRow {
  background-color: #fff;
  margin: 5px 0 5px 0;
  line-height: 1;
  align-items: center;
}

.awayTeamWon {
  text-align: right;
  font-size: 14px;
}

.awayScoreWon {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

.awayTeamLost {
  text-align: right;
  font-size: 14px;
}

.awayScoreLost {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

.homeTeamWon {
  text-align: left;
  font-size: 14px;
}

.homeScoreWon {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

.homeTeamLost {
  text-align: left;
  font-size: 14px;
}

.homeScoreLost {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

.gameDescriptor {
/*  font-size: 14px; */
  text-align: center;
  padding: 0;
/*  margin-right: 8px; */
}

.gameDate {
/*  width: "20%";
  text-align: center; */
  font-size: 2px;
}

.gameDate {
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.gameTime {
  text-align: left;
}

/* Game time/timezone/network styles */
.time-info {
  font-size: 12px;
  font-weight: 700;
}

.timezone-info {
  font-size: 10px;
  color: #757575;
}

.network-info {
  font-size: 12px;
  color: #757575;
}
/* Settings for phones */
@media (max-width: 575.98px) {
  .team-name {
    display: none;
  }
  .network-info {
    display: none;
  }
}
