.weekMgmtGroup {
  margin: 15px 0 15px 0;
  padding: 0 0 15px 5px;
  border: 1px;
  background-color: #fff;
}
.weekMgmtGroupSeason {
  margin-right: 10px;
}

.adminWeekMgmt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weekAdminItem {
  margin-right: 8px;
}

.weekButton {
  padding-right: 10px;
}

.gameRow, .byeTeamsRow {
  background-color: #fff;
  margin: 5px 0 5px 0;
  line-height: 1;
  align-items: center;
}

.byeTeamsRow {
  padding-left: 15px;
  padding-bottom: 20px;
}

.awayTeamWon {
  text-align: right;
  font-size: 14px;
}

.awayScoreWon {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

.awayTeamLost {
  text-align: right;
  font-size: 14px;
}

.awayScoreLost {
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

.homeTeamWon {
  text-align: left;
  font-size: 14px;
}

.homeScoreWon {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

.homeTeamLost {
  text-align: left;
  font-size: 14px;
}

.homeScoreLost {
  text-align: left;
  font-size: 14px;
  padding-right: 5px;
}

.gameDescriptor {
  text-align: center;
  padding: 0;
}

.byeTeamsHeader, .gameDate {
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.gameTime {
  text-align: left;
}

/* Game time/timezone/network styles */
.time-info {
  font-size: 12px;
  font-weight: 700;
}

.time-info-sm { /* When time is only 3 numbers (ie. 3:00 PM) */
  @extend .time-info;
  margin-right: 5px;
}

.no-set-time {  /* When time is TBD */
  @extend .time-info;
  margin-right: 50px;
}

.timezone-info {
  font-size: 10px;
  color: #757575;
}

.network-info {
  font-size: 12px;
  color: #757575;
}
.bye-team-image {
  padding-right: 5px;
}

.bye-team-name {
  padding-right: 15px;
}

/* Settings for phones */
@media (max-width: 575.98px) {
  .team-name {
    display: none;
  }
  .network-info {
    display: none;
  }
}
