.adminWeekMgmt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameRow {
  line-height: 1;
}

.awayTeamWon {
  text-align: right;
  font-size: 14px;
}

.awayScoreWon {
  text-align: right;
  font-size: 14px;
}

.awayTeamLost {
  text-align: right;
  font-size: 14px;
}

.awayScoreLost {
  text-align: right;
  font-size: 14px;
}

.homeTeamWon {
  text-align: left;
  font-size: 14px;
}

.homeScoreWon {
  text-align: left;
  font-size: 14px;
}

.homeTeamLost {
  text-align: left;
  font-size: 14px;
}

.homeScoreLost {
  text-align: left;
  font-size: 14px;
}

.gameDescriptor {
  font-size: 14px;
  text-align: center;
}

.gameDate {
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.gameTime {
  text-align: left;
}

/* Game time/timezone/network styles */
.time-info {
  font-size: 12px;
  font-weight: 700;
}

.timezone-info {
  font-size: 10px;
  color: #757575;
}

.network-info {
  font-size: 12px;
  color: #757575;
}
/* Settings for phones */
@include media-breakpoint-down(sm) {
  .team-name {
    display: none;
  }
  .network-info {
    display: none;
  }
}
