<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <%= link_to "Football Pool Mania", root_path, class:'navbar-brand col-4' %>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Home', seasons_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', '#', class: 'nav-link'  %>
      </li>
    </ul>
</nav>
